<h1><strong>Hangman!!</strong></h1>
<h1>The Word to quess is: _ _ _ _ _</h1>
  <form action="/gamers">
    <div class="form-group">
      <label for="count">Quess a letter</label>
      <input id="count" name="count" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Weigh your Brain!</button>
  </form>